body {
	background:rgb(9, 13, 71);
	color:#F7D7FF;
	font-family:Comic sans MS;
	font-size:1.5em;
}

header {
    text-align: center;
    vertical-align: middle;
	color:rgb(119, 108, 156);
	display:table;
	width:100%;
	background-color:rgba(0, 0, 0, 0.3);
}


a {
	color:inherit;
	text-decoration:none;
}
a:hover {
	text-decoration:underline;
}

#content {
	max-width:1800px;
	margin-left:auto;
	margin-right:auto;
}

.tile {
	margin:5px;
	border:1px solid white;
}


.golden_tile {
	margin:3px;
	width:600px;
	height:250px;
	text-align:center;
}

.golden_tile .title {
	top:13%;
	position:relative;
}
.golden_tile .line {
	top:21%;
	left:40%;
	width:20%;
	height:2px;
	background:#f7d7ff;
	position:relative;
}

.golden_tile .text {
	top:33%;
	left:15%;
	position:relative;
	width:70%;
}
