
#menuContainer {
	
}

#menuContainer ul  {
	display: block;
    float: left;
	margin:0;
	padding:0;
	width:100%;
}

#menuContainer li  {
	height:150px;
	line-height:150px;
}

#menuContainer .menuItem {
	display:table-cell;
	vertical-align:middle;
	cursor:default;
}

#menuContainer .menuItem.left {
	float:left;
}
#menuContainer .menuItem.right{
	float:right;
}



#menuContainer  .menuItem a {
	margin:0 20px;
	color:white;
	font-size:0.6em;
}
#menuContainer  .menuItem a:hover {
	text-shadow: 1px -1px rgb(160, 160, 160);
	text-decoration:none;
}

#menuContainer  #logo {
	cursor:pointer;
}