#menu {
	z-index:1;
}

#menuContainer {
	
}

#menuContainer ul  {
	display: block;
    float: left;
	margin:0;
	padding:0;
	width:100%;
}

#menuContainer li  {
	height:82px;
	line-height:82px;
}

#menuContainer .menuItem {
	display:table-cell;
	vertical-align:middle;
	cursor:default;
    width: 9%;
}

#menuContainer .menuItem.left {
	float:left;
}
#menuContainer .menuItem.right{
	float:right;
}
#menuContainer .menuItem.center{
	float:left;
    width: 76%;
}



#menuContainer  .menuItem a {
	color:white;
	font-size:0.9em;
	text-shadow: 0px 0px 5px rgb(237, 206, 249);
}
#menuContainer  .menuItem a:hover {
	text-decoration:none;
}

#menuContainer  #logo {
	cursor:pointer;
    margin-top: 10px;
}
