

#menuContainer ul {
    display: block;
    float: left;
	margin:0;
	padding:0;
}

#menuContainer .menuItem {
	display:table-cell;
	vertical-align:middle;
	cursor:default;
}

#menuContainer  .menuItem span:hover {
//	font-weight:bold;
	text-shadow: 1px -1px rgb(119, 108, 156);
}

#menuContainer  #logo {
	cursor:pointer;
	background-image: url("https://www.dropbox.com/s/yu5dreofln04mws/logo.png?dl=0");
}
#menuContainer r #logo:hover {
	background-image: url("https://www.dropbox.com/s/nk2shqdt33jxbwx/logo.gif?dl=0");
}
#menuContainer  #menuIcon{
	display:inline-block;
	float:right;
	color:#F7D7FF;
	cursor:pointer;
}

#menuContainer  #menuIcon:hover {
	text-decoration:underline;
	color:#FFE8FF;
}