body {
	background:black;
	color:white;
	font-family:PT Sans, sans-serif;
	font-size:1.5em;
	margin:0;
	overflow-x:hidden;
}

table {
	border-spacing:0;
}

td {
	margin:0;
	padding:0;
}

header {
    text-align: center;
    vertical-align: middle;
	color:RGB(255, 255, 255);
	display:table;
	width:100%;
	background-color:rgba(29, 32, 64, 0.3);
	position:absolute;
	top:0;
}


a {
	color:inherit;
	text-decoration:none;
}


.backgroundImage {
	background-position:center;
	background-size:cover;
}

#gallery-display {
	width:calc(100% - 100px);
	height:550px;
	margin-left:50px;
	overflow:hidden;
	padding-top:25px;
    transition: opacity 1s;
}

#gallery-display img {
    height: auto;
    max-height: 100%;
    max-width: 100%;
    width: auto;
}

.firstTile {
	text-align:center;
	max-width:none;
}

.firstTile .middle {
	top:45%;
	position:relative;
}

.simpleButton {
	background-color:RGB(191, 82, 135);
	color:white;
}
.firstTile .play {
	height:53px !important;
	top:19px;
	border-radius:5px;
	overflow:hidden;
}
.firstTile .icon-close {
	cursor:pointer;
}
.firstTile .play > button {
	line-height:53px !important;
}
.firstTile .play > .morph-content {
	height:53px !important;
}
.firstTile .play.open > .morph-content {
	height:800px !important;
	width:800px;
}

.hover-opacity {
	transition:background-color 0.7s;
}
.hover-opacity:hover {
	background-color:rgba(0, 0, 0, 0.7);
}

.hover-opacity .appear {
	opacity:0;
	
    /* For Safari 3.1 to 6.0 */
    -webkit-transition-property: opacity;
    -webkit-transition-duration: 0.7s;
    -webkit-transition-timing-function: linear;
    /* Standard syntax */
    transition-property: opacity;
    transition-duration: 0.7s;
    transition-timing-function: linear;
}
.hover-opacity:hover .appear {
	opacity:1;
}

.devisButton {
	border-radius:5px;
	border:3px solid white;
	background-color:transparent;
	color:white;
	font-weight:bold;
	width:-moz-max-content;
}


.gallery {
	border-bottom: 1px solid #aaa;
    border-top: 1px solid #aaa;
    height: 120px;
    margin-left: 50px;
    position: relative;
    width: calc(100% - 100px);
}

.gallery-display{
	
}

.speech {
	text-align:center;
	max-width:1000px;
}

.speech_title {
	text-align:center;
	padding:15px 0;
	margin-bottom:10px;
	border-bottom:1px solid white;
	display:inline-block;
}

.speech_text {
	width:75%;
	margin-left:auto;
	margin-right:auto;
	font-size:0.8em;
}

.prestationsCell {
    display: inline-block;
    height: 400px;
    width: 33%;
}

.prestationsCell .simpleButton {
	line-height:400px;
}

.firstTile .simpleButton {
	padding:0.5em 3em;
	border:0;
	border-radius:5px;
	font-weight:normal;
}

.simpleButton:hover{
	text-decoration:none;
}
.simpleButton {
	border-radius:10px;
	border:4px solid white;
	color:white;
	background:#BF5287;
	padding:1em 2em;
	cursor:pointer;
	font-weight:bold;
}



#video {
	height:650px;
}
#video .videoSpeech {
	display:block;
	float:left;
	width:calc(100% - 850px);
	height:100%;
}
.videoSpeech .text {
	max-width: 70%;
    overflow: hidden;
    position: relative;
    text-overflow: ellipsis;
    top: 20%;
}
#video iframe {
	display:block;
	float:left;
}
.cocktailadom_o {
	color:RGB(191, 82, 135);
}

.videoSpeech .firstLetter {
	font-size:1.5em;
	color:RGB(191, 82, 135);
}


#whatsproduct {
	text-align:center;
	color:white;
}
#whatsproduct .text {
	padding-top:1em;
	padding-bottom:1em;
}

#whatsproduct .left {
	text-align:left;
}

#whatsproduct .image_and_title {
	text-align:center;
	width:320px;
	height:320px;
	line-height:320px;
	background-image:url("../resources/Jacquot.jpg");
	background-position: center center;
    background-size: cover;
	display:inline-block;
	float:left;
}
#whatsproduct .image_and_title:hover span {
	text-decoration:underline;
}
#whatsproduct .image_and_title span {
	width:200px;
	vertical-align:middle;
	display:inline-block;
	line-height:normal;
	text-align:left;
	position:relative;
	top:200px;
	text-align:center;
}

#whatsproduct .speech {
	display:inline-block;
}

.whatsproduct.dots  {
	color:RGB(191, 82, 135);
}

.whatsproduct.dots .image{
	height:100px;
	width:100px;
	border-radius:50%;
	border:2px solid RGB(191, 82, 135);
	display:block;
    background-size: 70%;
    background-repeat: no-repeat;
    background-position: 50%;
}

.whatsproduct.dots .demand{
    background-image: url(../image/click_icn.png) ;
}

.whatsproduct.dots .recontact{
    background-image: url(../image/phone_icn.png);
}

.whatsproduct.dots .cocktail{
    background-color: RGB(191, 82, 135);
    background-image: url(../image/cocktail_icn.png);
}



