body {
	background:black;
	color:white;
	font-family:PT Sans, sans-serif;
	font-size:1.5em;
	margin:0;
	overflow-x:hidden;
	min-width:1350px;
}

table {
	border-spacing:0;
}

td {
	margin:0;
	padding:0;
}

.center{
	text-align:center;
}

.layout {
	bottom: 0;
    display: block;
    height: 100%;
    left: 0;
    position: relative;
    right: 0;
    top: 0;
}


a {
	color:inherit;
	text-decoration:none;
}


.backgroundImage {
	background-position:center;
	background-size:cover;
}

#gallery-display {
	width:calc(100% - 100px);
	height:550px;
	margin-left:50px;
	overflow:hidden;
	padding-top:25px;
    transition: opacity 1s;
}

#gallery-display img {
    height: auto;
    max-height: 100%;
    max-width: 100%;
    width: auto;
}

.firstTile {
	text-align:center;
	max-width:none;
	width:100%;
	position:relative;
	top:0;
}

.firstTile .middle {
	top:45%;
	position:relative;
}

.simpleButton {
	background-color:RGB(191, 82, 135);
	color:white;
}
.firstTile .play {
	height:53px !important;
	top:19px;
	border-radius:5px;
	overflow:hidden;
}
.firstTile .icon-close {
	cursor:pointer;
}
.firstTile .play > button {
	line-height:53px !important;
}
.firstTile .play > .morph-content {
	height:53px !important;
}
.firstTile .play.open > .morph-content {
    height: 800px !important;
    left: 34% !important;
    margin-bottom: 0 !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
    margin-top: 0 !important;
    top: 12% !important;
    width: 800px;
}

.hover-opacity {
	transition:background-color 0.7s;
}
.hover-opacity:hover {
	background-color:rgba(0, 0, 0, 0.7);
}

.hover-opacity .appear {
	opacity:0;
	
    /* For Safari 3.1 to 6.0 */
    -webkit-transition-property: opacity;
    -webkit-transition-duration: 0.7s;
    -webkit-transition-timing-function: linear;
    /* Standard syntax */
    transition-property: opacity;
    transition-duration: 0.7s;
    transition-timing-function: linear;
}
.hover-opacity:hover .appear {
	opacity:1;
}

//OLD CSS

.devisButton {
	border-radius:5px;
	border:3px solid white;
	background-color:transparent;
	color:white;
	font-weight:bold;
	width:-moz-max-content;
}


.gallery {
	border-bottom: 1px solid #aaa;
    border-top: 1px solid #aaa;
    height: 120px;
    margin-left: 50px;
    position: relative;
    width: calc(100% - 100px);
}

.gallery-display{
	
}

.speech {
	text-align:center;
	max-width:1000px;
}

#speech_title {
	text-align:center;
	padding:15px 0;
	margin-bottom:10px;
	border-bottom:1px solid white;
	display:inline-block;
}

#speech_text {
	width:75%;
	margin-left:auto;
	margin-right:auto;
	font-size:0.8em;
}

.prestationsCell {
    display: block;
	position:absolute;
    height: 310px;
    width: 33.3%;
	opacity:0.35;
}

.prestationsCell.current {
    opacity: 1;
}

.firstTile .simpleButton {
	padding:0.5em 3em;
	border:0;
	border-radius:5px;
	font-weight:normal;
}

.simpleButton:hover{
	text-decoration:none;
}
.simpleButton {
	border-radius:10px;
	border:4px solid white;
	color:white;
	background:#BF5287;
	padding:1em 2em;
	cursor:pointer;y
	font-weight:bold;
}

.absoluteButton {
    float: left;
    font-size: 1.3vw;
    line-height: 1em;
    max-height: 21px;
    min-height: 21px;
    position: absolute;
    top: 110px;
    transition-duration: 1s;
    transition-property: left, right, top, bottom, background-color;
    transition-timing-function: ease-in-out;
    white-space: nowrap;
	min-width:75px;
}

.absoluteButton.current {
    bottom: 0;
    left: 0 !important;
	width:100% !important;
    top: 310px;
	cursor:default;
	max-height:inherit;
	background-color:black;
	font-size:inherit;
	white-space:inherit;
	color:transparent;
}

.current.absoluteButton .reveal {
	opacity:1 !important;
	visibility:visible;
}


.absoluteButton .reveal {
	transition-property:opacity;
	transition-delay:1s;
	transition-duration:1s;
	visibility:hidden;
}


#video {
	height:600px;
	margin-bottom:100px;
}
#video .videoSpeech {
	display:block;
	float:left;
	width:calc(100% - 850px);
	height:100%;
	text-align:center;
}
.videoSpeech .text {
	max-width: 70%;
    overflow: hidden;
    position: relative;
    text-overflow: ellipsis;
    top: 20%;
	margin:auto;
}
#video iframe {
	display:block;
	float:left;
}
.cocktailadom_o {
	color:RGB(191, 82, 135);
}

.videoSpeech .firstLetter {
	font-size:1.5em;
	color:RGB(191, 82, 135);
}


#whatsproduct {
	text-align:center;
	color:white;
	height:200px;
	margin-top:7%;
}
#whatsproduct .text {
	padding-top:1em;
	padding-bottom:1em;
}

#whatsproduct .left {
	text-align:left;
}

#whatsproduct .speech {
	display:inline-block;
}

.dots  {
	color:RGB(191, 82, 135);
}

.dots .image{
	height:100px;
	width:100px;
	border-radius:50%;
	border:2px solid RGB(191, 82, 135);
	display:block;
	margin:auto;
    background-size: 70%;
    background-repeat: no-repeat;
    background-position: 50%;
}

.dots .current .image {
    background-color: RGB(191, 82, 135);
}

.dots .demand{
    background-image: url("../resources/image/click_icn.png") ;
}

.dots .current .demand{
    background-image: url("../resources/image/click_icn_white.png");
}

.dots .recontact{
    background-image: url("../resources/image/phone_icn.png");
}

.dots .current .recontact{
    background-image: url("../resources/image/phone_icn_white.png");
}

.dots .cocktail{
    background-image: url("../resources/image/cocktail_icn.png");
}
.dots .current .cocktail{
    background-image: url("../resources/image/cocktail_icn_white.png");
}

.dots ul{
	padding:0;
	margin:0;
	list-style:none;
}
.dots ul li{
	width:33%;
	display:inline-block;
}

.dots.dotstyle-flip li .image {
	transition:transform 0.3s ease, opacity 0.3s ease; 
}
.dots.dotstyle-flip li.current .image {
	-webkit-transform:rotateY(180deg);
	transform:rotateY(180deg);
}


/* Feedback messages */

#feedback {
	height:250px;
	width:100%;
	text-align:center;
	margin-top:50px;
}
#feedback .content {
	left:20%;
	right:20%;
	height:100%;
	float:left;
	width:60%;
}
#feedback .contentTop {
	top:0;
	height:65%;
	width:100%;
}
#feedback .contentBottom {
	bottom:0;
	height:35%;
	width:100%;
}
#feedback .line {
	height:1px;
	margin: 15px auto;
	background-color:white;
	width:40%;
}
#feedback .title {
	font-size:1.3em;
	white-space:nowrap;
	text-overflow:ellipsis;
	overflow:hidden;
}

#feedback .message {
	max-width:70%;
	margin:20px auto;
}

#feedback .grade {
	
}

#feedback .star {
	height:20px;
	width:20px;
	margin:0 20px;
	color:#bf5287;
}
#feedback .controller.left {
	left:0;
}
#feedback .controller.right {
	right:0;
}
#feedback .controller {
	height:100%;
	width:20%;
	float:left;
}
#feedback .controller .control:hover {
	color:#bf5287;
}
#feedback .controller .control {
	cursor:pointer;
	font-size:100px;
	position:relative;
	top:75px;
}

























