<div class="text">Devis Gratuit</div>
<div class="left"><div class="image_and_title"><span>Demandez un devis</span></div>
<div class="speech"><div class="speech_title">Cocktailadom ?</div><div class="speech_text">Cocktailadom à tout prévu pour rendre vos soirées animées et originales.<br>
Un service de barman professionnel pour vous servir et créer de délicieux cocktails tout au long de votre évènement.<br>
Avec tous le matériel et notre Bar Lumineux nous nous déplaçons chez vous pour vous faire déguster des cocktails qui raviront vos invités.</div></div></div>