<!--<div class="top-right-triangle"><div class="devis_gratuit">Demande de<br>devis!<br>gratuit!</div></div>-->
<div class="container alcohol_legal">L'abus d'alcool est dangereux pour la santé. A consommer avec modération.</div>
<div class="container" style="height:180px;">

	<ul>
		<li class="header">Info</li>
		<li><a href="./index.html">Cocktailadom</a></li>
		<li><a href="./index.html#video">Vidéo de présentation</a></li>
	</ul>
	
	<ul>
		<li class="header">Les prestations</li>
		<li><a href="./prestations.html#atelier_cocktail">L'atelier cocktail</a></li>
		<li><a href="./prestations.html#cocktail_party">La cocktail party</a></li>
		<li><a href="./prestations.html#bar_mojito">Le bar à mojito</a></li>
	</ul>
	
	
	<ul>
		<li class="header">Contacts</li>
		<li>Cocktailadom</li>
		<li>22 rue Fernet</li>
		<li>94700 Maison-Alfort</li>
		<li>06.18.94.19.81</li>
		<li><a class="mailto" href="mailto:infococktailadom@gmail.com">infococktailadom@gmail.com</a></li>
	</ul>

</div>
<div class="container copyright">Cocktailadom 2009 © Copyright RCS PARIS 798 964 680 - Created by Carroy Tom</div>