<div class="top-right-triangle"><div class="devis_gratuit">Demande de<br>devis!<br>gratuit!</div></div>
<div class="container alcohol_legal">L'abus d'alcool est dangereux pour la santé. A consommer avec modération.</div>
<table class="container">
	<tr>
		<th>Les prestations</th>
		<th>Les traiteurs</th>
		<th>Info</th>
		<th>Contacts</th>
	</tr>

	<tr>		
		<td><a>La cocktail party</a></td>
		<td><a>Liste des cocktails</a></td>
		<td><a>Les locations</a></td>
		<td>Cocktailadom</td>
		
	</tr>
	
	<tr>
		<td><a>L'atelier cocktail</a></td>
		<td><a>Japonais</a></td>
		<td><a>FAQ</a></td>
		<td>22 rue Fernet</td>
		
	</tr>
	
	<tr>
		<td><a>Les petits plus</a></td>
		<td><a>Cupcakes</a></td>
		<td><a>Recrutement</a></td>
		<td>94700 Maison-Alfort</td>
		
	</tr>
	
	<tr>
		<td></td>
		<td></td>
		<td><a>Devenez franchisé</a></td>
		<td>06.XX.XX.XX.XX</td>
	</tr>
	<tr>	
		<td></td>
		<td></td>
		<td></td>
		<td><a class="mailto" href="mailto:infococktailadom@gmail.com"> infococktailadom@gmail.com</a></td>
	</tr>
	
</table>
<div class="container copyright">Copyright cocktailadom. All right reserved.</div>