<div id="menuContainer" style="display:table-row;">
	<ul style="">
		<li class="menuItem left" style=""><a href="./index.html#prestations" onclick="javascript:scrollToIdPlus('#prestations', -82);">Prestati<span class="cocktailadom_o">o</span>ns</a></li>
		<li class="menuItem center" style=""><a href="./index.html#" onclick="javascript:scrollToIdPlus('#top', 0);"><img id="logo" src="./resources/image/top_logo.png"></img></a></li>
		<li class="menuItem right" style=""><a href="./contact.html">C<span class="cocktailadom_o">o</span>ntacts</a></li>
	</ul>
</div>